@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@for (int i = 0; i <= 60; i++)
{

    <br><td>Number =  @i </td>
}



<p>Use this page to detail your site's privacy policy.</p>
